env
/auth_service/.env
/auth_service/.env-non-dev
/auth_service/app/core/keys
/music_service/app/core/keys
/music_service/.env
/music_service/.env-non-dev
**/__pycache__
.idea
tests
redisdata
webplayer
templates
