/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family:  monospace;
}


/* Common */
/* 
body {
    display: flex;
} */



.exist_playlist {
    display: none;
}

.playlist__container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1360px;
    max-height: 900px;
    background-color: white;
}

.all_playlists__conteiner {
    width: 912px;
    height: 992px; 
    background-color: whitesmoke;
    border-radius: 22px;
}

.all_musics__conteiner {
    position: absolute;
    margin-left: 47%;
    width: 460px;
    height: 992px;
	background: linear-gradient(90deg, #b9deed, #efefef);    
}

.welcome__conteiner {
    padding-left: 24px;
    padding-top: 24px;
    font-size: 30px;
}

.content__conteiner {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    word-break: break-word;
    width: 864px;
    height: 808px;
    top: 144px;
    left: 24px;
    background-color: white;
    overflow: scroll;
}

.content__conteiner div {
    flex: 25%;
    width: 192px;
    height: 232px;
    font-size: 16px;
    
}

.content__conteiner img {
    width: 192px;
    height: 192px;
    border-radius: 22px;
}

.content__conteiner .album {
    font-size: 16px;
}
.content__conteiner .artist {
    font-size: 12px;
}