<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Домашняя страница</h1>
    <p id="main">Привет пользователь!</p>

    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Загрузить музыку</label>
            <input type="file" id="input" name="file" accept=".mp3" multiple/>
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>

    <script src="js/home.js"></script>
  </body>
</html>
