.login_conteiner {
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    margin-top: 10%;
    width: 457px;
    height: 518px;
    box-shadow: 0px 5px 13px 0px rgba(34, 60, 80, 0.2);
    border-radius: 22px;
}

.login_form {
    width: 90%;
    height: 90%;
}

.form_header {
    font-weight: bold;
    font-size: 40px;
}

.form_content {
    margin-top: 10%;
}

.input__username {
    width: 100%;
    height: 55px    ;
    background-color: #ebe6f5;
    border-radius: 10px;
}

.input__username__content {
    padding-top: 2%;
    padding-left: 5%;
}

.input__username__content label {
    color: rgba(0, 0, 0, 0.3)
}



.input__password {
    margin-top: 10px;
    width: 100%;
    height: 55px    ;
    background-color: #ebe6f5;
    border-radius: 10px;
}

.input__password__content {
    padding-top: 2%;
    padding-left: 5%;
}

.input__password__content label {
    color: rgba(0, 0, 0, 0.3)
}